<h1> New Record</h1>
<form action="/weights" method="post">
<table>
	<tr> <td> Product Name: </td> <td> <input type="text" name="product_name" required> </td> </tr>
	<tr> <td> Brand: </td> <td> <input type="text" name="brand" required>  </td> </tr>
	
	<tr> <td> Pounds: </td> <td> <input type="number" name="pound" required> </td> </tr>

	<tr> <td> Color: </td> <td> <input type="text" name="color" required>  </td> </tr>
	<tr> <td> Description: </td> <td> <input type="text" name="des" required>  </td> </tr>
	<tr> <td> Price: </td> <td> <input type="text" name="price" required>  </td> </tr>
	<tr> <td> Homepage: </td> <td> <input type="checkbox" name="homepage">  </td> </tr>
	
</table>
<button type="submit">Save</button>
</form>
