<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>About</h1>

    <p>We specialize in selling gym weights and weight accessories.</p>
    <p>Launched in 2023, Weights4Home is the center for the home weights market. We take pride in our efforts at providing a wide range of top-quality products. If you are not satisfied, we, offer free returns within 30-days of purchase.</p>
    <p>Happy lifting!</p>
    <p>-Weights4Home team</p>
  </body>
</html>
