<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Contact Us!</h1>
    <br>
    <h2>For Customer Support:</h2>
    <br>
    <p><strong>Email: </strong>weights4home@hotmail.com</p>
    <p><strong>Phone: </strong>1-(800)-123-4567</p>
  </body>
</html>
