<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Help</h1>

    <p>For help, please contact us. You can do so by going to contacts found here: </p><a href="/contact">Contact Us</a> 
  </body>
</html>