<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Weights4Home</h1>
    <p>Welcome to Weights4Home, the best place to by home weights!</p>
    <br>
    <p>Check out our product catalog below (under construction)</p>
  </body>
</html>
