<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Privacy</h1>

    <p>Our policy:</p>
    <br>
    <p>We work hard to keep your data safe and will not use it in any malicious way. All data provided by the user in account creation gives consent to store that information in a safe and secure manner. We currently do not collect cookies.</p>
    <br>
    <p>Thank you!</p>
    <br>
    <p>-Weights4home Team</p>
  </body>
</html>