<h1> New Record</h1>
<form action="/orders" method="post">
<table>
	<tr> <td> Product ID: </td> <td> <input type="number" name="product_id" required> </td> </tr>
	<tr> <td> Sale price: </td> <td> <input type="number" name="saleprice" required>  </td> </tr>
	
	<tr> <td> Quantity: </td> <td> <input type="number" name="qty" required> </td> </tr>
	
</table>
<button type="submit">Save</button>
</form>