<h1>Edit</h1>
<form action="/orders/save" method="post">
   <input type="hidden" name="orderdetail_id" value="<%= onerec.orderdetail_id %>" >
<table>
	<tr> <td> Product ID: </td> <td> <input type="number" name="product_id" value="<%= onerec.product_id %>" required> </td> </tr>
	<tr> <td> Sale price: </td> <td> <input type="number" name="saleprice" value="<%= onerec.saleprice %>" required>  </td> </tr>
	<tr> <td> Quantity: </td> <td> <input type="number" name="qty" value="<%= onerec.qty %>" required> </td> </tr>

</table>
<button type="submit">Save</button>
</form>