<h1> New Record</h1>
<form action="/reviews" method="post">
<table>
	<tr> <td> Customer ID: </td> <td> <input type="number" name="customer_id" required> </td> </tr>
	<tr> <td> Product ID: </td> <td> <input type="number" name="product_id" required>  </td> </tr>
	
	<tr> <td> Review date: </td> <td> <input type="date" name="reviewdate" required> </td> </tr>

	<tr> <td> Comments: </td> <td> <input type="text" name="comments" required>  </td> </tr>
	<tr> <td> Rating: </td> <td> <input type="number" name="rating" required>  </td> </tr>
    <tr> <td> Status: </td> <td> <input type="text" name="status" required>  </td> </tr>
</table>
<button type="submit">Save</button>
</form>